:root{
    /* --themeColor:#409eff; */
    --btn-bgColor:#eee;
    --borderColor:#e4e7ed;
    --fontColor:#333;
    --bgColor:#fff;

    /* 跟随系统主题 */
    --auto-fontColor:#333;
    --auto-bgColor:#fff;
    --auto-btn-bgColor:#eee;

    /* 浅色 */
    --light-fontColor:#333;
    --light-bgColor:#fff;
    --light-btn-bgColor:#eee;

    /* 深色 */
    --dark-fontColor:#e3e3e3;
    --dark-bgColor:#121212;
    --dark-btn-bgColor:rgb(58,58,63);
}
body{
    background-color: var(--bgColor);
    color: var(--fontColor);
}
#record button{
    background-color: var(--btn-bgColor);
    color: var(--fontColor);
}
#record #filePath{
    background-color: var(--btn-bgColor);
    color: var(--fontColor);
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#record{
    height: 100vh;
}
#record>div{
    height: 100%;
    overflow-y: auto;
}
#record .left{
    width: 200px;
    border-right: 1px solid var(--borderColor);
    padding: 10px;
}
#record .left a{
    color: var(--fontColor);
}
#record .right{
    flex:1;
}
#record .left li.active a{
    background-color: var(--btn-bgColor);
}
#record .left li a:hover{
    background-color: var(--btn-bgColor);
}
.rec{
    padding: 20px;
}
.set{
    display: none;
}
.rec label{
    margin-right: 20px;
}
.rec span{
    vertical-align: top;
    user-select: none;
}
.btn-box{
    margin-top: 20px;
}
.btn-box button{
    outline: none;
}
.btn-box button:focus{
    outline: none !important;
}
.btn-box button:active{
    outline: none !important;
}
.set{
    padding: 20px;
}
.set .col-l{
    width: 120px;
}
.set .col-r{
    flex: 1;
    margin-left: 10px;
}
.set label{
    margin-right: 20px;
}
.set span{
    vertical-align: top;
    user-select: none;
}
.set .rows{
    margin-bottom: 20px;
    align-items: center;
}
.set .input-group{
    width: 400px;
}
.form-control{
    cursor: pointer;
}
#video-list{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
#video-list video{
    width: 300px;
    height: 160px;
    object-fit: cover;
    margin-right: 20px;
    margin-bottom: 20px;
}

.right .start{
    padding: 20px;
}

.start #start-list{
    width: 100%;
    margin-top: 20px;
    max-width: 1600px;
}

.start #start-list table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.start #start-list table td{
    padding: 5px 10px;
    border: 1px solid var(--borderColor);
}

.edit-btn{
    cursor: pointer;
}

#start-list .item-btn{
    cursor: pointer;
}

#start-list .item-btn:hover{
    text-decoration: underline;
}

.item-btns{
    display: block;
}

.scripts-btn-box{
    display: inline-block;
    margin-right: 50px;
    vertical-align: middle;
}

.chalk-html{
    font-family: Consolas, "Courier New", monospace;
    font-weight: normal;
    font-size: 14px;
}


@media (prefers-color-scheme: dark) {
    :root{
        --auto-bgColor:var(--dark-bgColor);
        --auto-fontColor:var(--dark-fontColor);
        --auto-btn-bgColor:var(--dark-btn-bgColor);
    }
}
@media (prefers-color-scheme: light) {
    :root{
        --auto-bgColor:var(--light-bgColor);
        --auto-fontColor:var(--light-fontColor);
        --auto-btn-bgColor:var(--light-btn-bgColor);
    }
}